<div class="container py-5">
  <div class="col-md-12" style="margin: auto;">
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col"><h3>User Email</h3></th>
            <th scope="col"><h3>Mark Scored</h3></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of users">
            <td>
              <h5>{{ user.email }}</h5>
            </td>
            <td>
              <h5>{{ user.marks }}</h5>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>