.container {
    margin-top: 4rem;
}

mat-form-field, 
textarea {
    margin-top: 10px;
    width: 100%;
}

button {
    margin-top: 1rem; 
    padding: 5px;
    width: 100%;
}

mat-card {
    background-color: rgba(255, 255, 255, 0);
    border-radius: 10px;
}