<div class="container py-5">
  <div class="row justify-content-right mt-5">
    <div class="col-md-4"></div>
    <div class="col-md-4">

      <mat-card>
        <h1>Register</h1>
        <form *ngIf="!isLoading" (submit)="createUser(loginForm)" #loginForm="ngForm">
          <mat-form-field appearance="outline">
            <mat-label>Email</mat-label>
            <input matInput type="email" name="email" ngModel placeholder="Email" required email #emailInput=ngModel>
            <mat-error *ngIf="emailInput.invalid">Please enter a valid Email Id</mat-error>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Register</mat-label>
            <input matInput type="password" name="password" ngModel placeholder="Password" required minlength="8"
              maxlength="20" #passwordInput=ngModel>
            <mat-error *ngIf="passwordInput.invalid">
              Please enter a valid Password. Passwords should be 8-20 characters long.
            </mat-error>
          </mat-form-field>
          <button mat-flat-button type="submit" color="primary">LOGIN</button>
        </form>
        <mat-progress-bar *ngIf="isLoading" mode="indeterminate" color="warn"></mat-progress-bar>
      </mat-card>
    </div>
  </div>
</div>
